.col {
    padding: 2rem;
    text-align: center;
    background: rgb(145, 196, 230);
}

h1 {
    color: blue;
    margin-bottom: 2rem;
}

.container {
    margin-top: 5rem;
}

span {
    margin-top: 0.5rem;
    font-size: larger;
    display: block;
}