{% load  static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Add Tables</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        .addmeal {
            width: 700px;
            margin-left: auto;
            margin-right: auto;
            margin-top: 5vh;
        }

        .formbtn {
            width: 200px;
            padding: 10px;
            text-align: center;
        }
    </style>
</head>

<body>
    <header>
        <div class="container-fluid">
            <img src="{% static 'logo.png' %}" width="110px" height="110px" alt="logo" />
        </div>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../loadresturantposhome">Resturant POS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../mealmngt">Menu list</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Sign out</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </nav>
        
    </header>
    <form class="addmeal" action="/restaurant/addtable/" method="POST">
        {% csrf_token %}
    <center><h1>Add Table</h1></center><br><br>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label>Table ID</label>
                <input type="text" class="form-control" placeholder="Table ID" name="tblid"  required>
            </div>
            <div class="form-group col-md-6">
                <label>No Seats</label>
                <select name="noSeats" class="btn-block btn-lg btn-light dropdown-toggle">
                    <option name="stype1" value="2">2</option>
                    <option name="stype2" value="4">4</option>
                    <option name="stype3" value="8">8</option>
                    <option name="stype4" value="16">16</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label>Restaurant Location</label>
            <select name ="restaurantLocation" class="btn-block btn-lg btn-light dropdown-toggle">
                <option name="opt1" value="Ocean by O">Ocean by O</option>
                <option name="opt2" value="Ground Floor"selected>Ground floor</option>
            </select>
        </div>
        <div class="form-group">
            <label>Location</label>
            <select name ="location" class="btn-block btn-lg btn-light dropdown-toggle">
                <option name="opt2" value="Indoor A/C Smoking" >Indoor A/C Smoking</option>
                <option name="opt3" value="Indoor A/C Non Smoking">Indoor A/C Non Smoking</option>
                <option name="opt4" value="OutDoor Smoking">OutDoor Smoking</option>
                <option name="opt5" value="OutDoor Non Smoking">OutDoor Non Smoking</option>
            </select>
        </div>
        <div class="form-group">
            <div class="form-group">
                <label>Reserved Status</label><br>
                <select name ="rstatus" class="btn-block btn-lg btn-light dropdown-toggle">
                    <option name="opt1" value="Reserved">Reserved</option>
                    <option name="opt2" value="Free" selected>Free</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label>Available staus</label>
            <select name ="aStatus" class="btn-block btn-lg btn-light dropdown-toggle">
                <option name="opt1" value="Available" class="btn btn-success" selected>Available</option>
                <option name="opt2" value="Not Available"  class="btn btn-danger">Not Available</option>
            </select>
        </div>
        <input type="submit" class="btn btn-lg btn-success formbtn" value="Add Table">
        <input type="reset" class="btn btn-lg btn-warning text-white formbtn" value="Reset">
    </form>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>
</body>

</html>