{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Cancel Booking</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aldrich">
    <link rel="stylesheet" href="{% static 'css/roombooking.css' %}">
</head>

<body class="text-center">
    <div class="container bg-light">
        <div class="text-warning p-2">
            <h2 class="display-4 text-uppercase text-danger">Cancel booking</h2>
        </div>
        <div class="table-responsive table-bordered text-uppercase p-3" style="font-size: 23px;">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr></tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-left">FIRST NAME</td>
                        <td class="text-right">Cell 2</td>
                    </tr>
                    <tr>
                        <td class="text-left">LAST NAME</td>
                        <td class="text-right">Cell 4</td>
                    </tr>
                    <tr>
                        <td class="text-left">CHECK - IN</td>
                        <td class="text-right">Cell 4</td>
                    </tr>
                    <tr>
                        <td class="text-left">CHECK - OUT</td>
                        <td class="text-right">Cell 4</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row p-2">
            <div class="col-xl-6 text-center d-xl-flex">
                <h3 class="text-uppercase">Rooms</h3>
            </div>
            <div class="col">
                <h3 class="text-uppercase">REfundable</h3>
            </div>
            <div class="col text-right">
                <h3 class="text-uppercase">price</h3>
            </div>
        </div>
        <div class="row p-2">
            <div class="col-xl-6 text-center d-xl-flex"></div>
            <div class="col"></div>
            <div class="col text-right"></div>
        </div>
        <div class="row text-left p-2">
            <div class="col">
                <form>
                    <h3 class="text-uppercase">Please tell us why you are cancelling</h3><textarea class="form-control"
                        style="width: 1093px;height: 100px;"></textarea>
                </form>
            </div>
        </div>
        <div class="row text-left p-2">
            <div class="col"><span class="text-uppercase" style="font-size: 22px;">THE ocean colombo will issue refunds
                    only for bookings made for refundable rooms</span></div>
        </div>
        <div class="row">
            <div class="col">
                <div class="btn-group p-2" role="group"><button class="btn btn-warning" type="button"
                        style="margin-right: 4.5rem;">CANCEL</button><button class="btn btn-danger"
                        type="button">CONFIRM</button></div>
            </div>
        </div>
    </div>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
</body>

</html>