<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>View Complaints</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

  <nav class="navbar navbar-expand-lg navbar-light bg-light">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="../complaint6">View Feedbooks</a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" href="../complaint2">Reply to Feedbacks</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
</head>

<body>

  <br>

  <h1 class="text-center" style="color:#DC8A1B">Complaint Management</h1>
  <br>




    <div class="container-fluid">


      <form class="form-inline" class="container" action="">
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Date</label>
          <div class="col-sm-3">
            <input type="date" class="form-control" id="date" placeholder="enter date">
          </div>
        </div>






        <div class="row">
          <div class="col-sm-3">
            <button type="submit" class="btn btn-warning mb-2">Search</button>
          </div>


        </div>

  </form>
  </div>


    <br>






  </div>
  </div>
  <div class="container">

    <table class="table">
      <thead>
        <tr>
          <th>Customer Name</th>
          <th>contact No</th>
          <th>Email</th>
          <th>Complaint</th>
            <th>Reply</th>


        </tr>
      </thead>
      <tbody>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
            <td></td>

        </tr>

      </tbody>
    </table>

  </div>


</body>

</html>