<!DOCTYPE html>
<html lang="en">
<head>
  <% load static %>
  <meta charset="UTF-8">
  <title>Check reply</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

  <div class="container-fluid">
            <img src='{% static "images/logo.png" %}'  alt="logo" />
        </div>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="../complaint6">View Feedbooks</a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" href="../complaint2">Reply to Feedbacks</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
</head>

<body>


  <br>

  <h1 class="text-center" style="color:#DC8A1B">Complaint Management</h1>
  <br>

  <div class="container">
    <div class="container-fluid">

      <div class="form-group">
        <label for="exampleFormControlTextarea1"></label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="9"></textarea>
      </div>
      <div class="form-row" class=text-center class="container-fluid">

        <div class="col-3">
            <form  action="/complaint5/" method="get">

          <button type="submit" class="btn btn-warning mb-6">Update</button>
            </form>
        </div>

        <div class="col-3">
            <form action="" method="get">
          <button type="submit" class="btn btn-danger mb-3">Delete</button>
            </form>
        </div>
      </div>

      <div class="container">
        <div class="container-fluid">
            <form  action="/complaint6/" method="get">
          <button type="submit" class="btn btn-warning btn-sm btn-block ">Send</button>
            </form>
        </div>
      </div>


    </>
  </div>



  </div>


</body>

</html>