{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Room Booking</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aldrich">
    <link rel="stylesheet" href="{% static 'css/roombooking.css' %}">
</head>

<body>
    <div class="container text-uppercase bg-light">
        <div class="row">
            <div class="col d-xl-flex justify-content-xl-center align-items-xl-center"><strong>CHECK IN</strong></div>
            <div class="col d-xl-flex justify-content-xl-center align-items-xl-center">
                <input type="text" style="border: none;text-align:center" name="checkIn" value="{{checkIn}}"
                    form="confirmBookingForm" readonly>
            </div>
            <div class="col d-xl-flex justify-content-xl-center align-items-xl-center"><strong>CHECK OUT</strong>
            </div>
            <div class="col d-xl-flex justify-content-xl-center align-items-xl-center">
                <input type="text" style="border: none;text-align:center" name="checkOut" value="{{checkOut}}"
                    form="confirmBookingForm" readonly>
            </div>
            <div class="col d-xl-flex justify-content-xl-center align-items-xl-center">
                <a class="btn btn-primary text-uppercase bg-warning" href="/roomBooking/selectRoom/"
                    type="button">change dates</a>
            </div>
        </div>
    </div>
    <div class="container bg-light">
        <div class="row">
            <div class="col-xl-7">
                <div class="table-responsive table-borderless">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th class="text-uppercase">Rooms</th>
                                <th class="text-uppercase">No.</th>
                                <th class="text-uppercase text-right">Cost</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><input type="text" style="border: none;text-align:left" value="{{roomName}}"
                                        form="confirmBookingForm" name="roomName" readonly></td>
                                <td><input type="text" style="border: none;text-align:left" value="{{roomQty}}"
                                        form="confirmBookingForm" name="roomQty" readonly></td>
                                <td class="text-right"><input type="text" style="border: none;text-align:right"
                                        value="{{roomCost}}" name="roomCost" form="confirmBookingForm" readonly></td>
                            </tr>
                            <tr>
                                <td class="text-uppercase">Total</td>
                                <td></td>
                                <td class="text-right"><input type="text" style="border: none;text-align:right;"
                                        value="{{roomTotal}}" form="confirmBookingForm" name="roomTotal" readonly></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col" id="outsideCol">
                <div class="row">
                    <div class="col p-2"><span>Estimated Time of Arrival</span>
                        <input class="float-right" id="ETA" name="ETA" form="confirmBookingForm" type="time" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col p-2"><span class="d-inline-block">Special Requests</span><textarea
                            class="form-control-lg d-block" name="splRequests" form="confirmBookingForm"
                            style="margin-top: 0.5rem;width: 445px;height: 100px;"></textarea></div>
                </div>
            </div>
        </div>
    </div>
    <div class="container bg-warning">
        <div class="row">
            <div class="col">
                <h2 class="text-uppercase bg-warning"
                    style="font-family: Aldrich, sans-serif;background-color: rgba(255,193,7,0);">confirm Booking</h2>
            </div>
        </div>
    </div>
    <div class="container bg-light">
        <form id="confirmBookingForm" onsubmit="return cardnumber()" action="/roomBooking/addBooking/" method="POST">
            {% csrf_token %}
            <div class="row">
                <div class="col p-2">
                    <h4 class="text-uppercase">contact details</h4>

                    <input class="form-control" type="text" placeholder="FIRST NAME" name="first_name" id="fName"
                        required>
                    <input class="form-control" type="text" placeholder="LAST NAME" name="last_name" id="lName"
                        required>
                    <input class="form-control" type="text" placeholder="E MAIL" inputmode="email" name="email"
                        id="email" required>
                    <input class="form-control" type="text" maxlength="10" placeholder="CONTACT NUMBER" id="contactNo"
                        inputmode="numeric" name="contactNo" required>
                    <input class="form-control" type="text" placeholder="NIC" name="NIC" id="NIC" required>


                </div>
                <div class="col p-2">
                    <h4 class="text-uppercase">billing address</h4>

                    <input class="form-control" type="text" placeholder="ADDRESS" name="address" id="address" required>
                    <input class="form-control" type="text" placeholder="SUBURB" name="suburb" id="suburb" required>
                    <input class="form-control" type="text" placeholder="CITY" name="city" id="city" required>
                    <input class="form-control" type="text" placeholder="POSTAL CODE" id="postalCode"
                        inputmode="numeric" name="postalCode" required>
                </div>
                <div class="col p-2">
                    <h4 class="text-uppercase">card details</h4>
                    <img src="{% static 'images/visaLogo.png'%}" alt="VISA"
                        style="height: auto;width:50px;padding: 0.3rem;">
                    <input class="form-control" placeholder="CARD NUMBER" name="cardNo" type="text"
                        form="confirmBookingForm" id="cardNo" required>
                    <input class="form-control" type="text" placeholder="NAME ON CARD" name="nameOnCard" id="nameOnCard"
                        required>
                    <h5 class="text-uppercase">EXPIRY DATE</h5>
                    <div class="form-row">
                        <div class="col p-1">
                            <input class="form-control" type="number" max="31" placeholder="1" name="expiryDay"
                                id="expiryDay" required>
                        </div>
                        <div class="col d-xl-flex p-1">
                            <input class="form-control" type="number" max="12" placeholder="1" name="expiryMonth"
                                id="expiryMonth" required>
                        </div>
                    </div>
                    <h5 class="text-uppercase">cvv</h5>
                    <input class="form-control" type="number" placeholder="CVV" inputmode="numeric" name="cvv" id="CVV"
                        required>


                </div>
            </div>

            <div class="row p-2">
                <div class="col">
                    <div class="custom-control text-uppercase custom-checkbox">
                        <input class="custom-control-input" type="checkbox" id="formCheck-1" required><label
                            class="custom-control-label" for="formCheck-1"
                            onchange="document.getElementById('confirmBooking').disabled = !this.checked;">I
                            ACCEPT
                            THE TERMS AND CONDITIONS, PAYMENT TERMS</label></div>
                    <div class="custom-control text-uppercase custom-checkbox">
                        <input class="custom-control-input" type="checkbox" id="formCheck-2" required><label
                            class="custom-control-label" for="formCheck-2"
                            onchange="document.getElementById('confirmBooking').disabled = !this.checked;">I
                            WOULD
                            LIKE TO RECIEVE INFORMATION ABOUT PROMOTIONS AND DETAILS</label></div>
                    <div class="text-center p-2" style="margin-top: 0.5rem;">
                        <button class="btn btn-warning" onclick="demo()">DEMO</button>
                        <button class="btn btn-success text-uppercase" type="submit" form="confirmBookingForm"
                            id="confirmBooking">confirm
                            booking</button>

                    </div>
                </div>
            </div>
        </form>
    </div>

    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/creditcard.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script>
        function demo() {
            document.getElementById("fName").value = "Nafeel";
            document.getElementById("lName").value = "Nuhuman";
            document.getElementById("email").value = "nafeelnuhuman337@gmail.com";
            document.getElementById("contactNo").value = "0775546631";
            document.getElementById("NIC").value = "9913901277";
            document.getElementById("address").value = "52,Flower Rd,Dehiwala";
            document.getElementById("suburb").value = "Dehiwala";
            document.getElementById("city").value = "Colombo";
            document.getElementById("postalCode").value = "008866";
            document.getElementById("cardNo").value = "4283980011326115";
            document.getElementById("nameOnCard").value = "Nafeel";
            document.getElementById("expiryDay").value = "24";
            document.getElementById("expiryMonth").value = 8;
            document.getElementById("CVV").value = 863;
        }

        function cardnumber() {
            var card = document.getElementById('cardNo')
            var cardno = /^(?:4[0-9]{12}(?:[0-9]{3})?)$/;
            if (card.value.match(cardno)) {
                return true;
            }
            else {
                alert("Not a valid Visa credit card number!");
                return false;
            }
        }
    </script>
</body>

</html>