<html>
    <head>
        <title>
            Purchase Orders
        </title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    {% load static %}
    </head>
    <body>
    <HEADER>
         <div class="container-fluid">
            <img src="{% static 'images/logo.png' %}" width="110px" height="110px" alt="logo" />
        </div>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                 <li class="nav-item active">
                  <a class="nav-link" href="../loadbackendhomepage/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="../loadshowstock/">Inventory <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="../loadaddstock/">Add Stock <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item active">
                    <a class="nav-link" href="../loadaddsupplier/">Add Suppliers <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item active">
                    <a class="nav-link" href="../loadshowsupplier/">View Suppliers <span class="sr-only">(current)</span></a>
                  </li>
                   <li class="nav-item active">
                    <a class="nav-link" href="../createlists/">Create Lists <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item active">
                    <a class="nav-link" href="../loadpurchaseorder/">Send Purchase Orders <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item active">
                    <a class="nav-link" href="../getlist_idforrepo/">Reports <span class="sr-only">(current)</span></a>
                  </li>
              </ul>
              <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button type="button" class="btn btn-outline-warning">Search</button>
              </form>
            </div>
          </nav>
        </HEADER>
          <br>
          <br>
          <!--Add purchase orders Form-->

          <h1 class=text-center style="color: #DC8A1B">Reports</h1>

          <div class = "container">

          <form class = "container-fluid" method="post" action="/inventory/generaterepo/">
              {% csrf_token %}

            <div class="form-group">
                <label for="exampleFormControlInput1">Choose List: </label>
                <select class="form-control"  name="listsid">
                    {% for listid in list_listid%}
                    <option value="{{listid}}">{{listid}}</option>
                    {% endfor %}
                </select>
            </div>


            <br>
            <button type="submit" class="btn btn-warning">Generate the Report</button>


          </form>
              <form method="post" action="/inventory/getlist_idforrepo/">
                  {% csrf_token %}
                  <button type="submit" class="btn btn-danger">Cancel</button>
              </form>
          </div>
          </div>
        <table class="table table-striped">
              <thead>
                <tr>

                  <th scope="col">Email</th>
                  <th scope="col">Stock ID</th>
                  <th scope="col">Quantity</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
              {% for email,stockid,quantity in final_list%}
                <tr>

                    <td>{{email}}</td>
                    <td>{{stockid}}</td>
                    <td>{{quantity}}</td>

                  <td></td>
                </tr>
              {% endfor %}
               <br>

              </tbody>
            </table>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>