<html>
    <head>
        <title>
            Messages
        </title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
       
    </head>
    <body>

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Message <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Create Groups <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item active">
                    <a class="nav-link" href="#">View Groups<span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item active">
                    <a class="nav-link" href="#">Send Messages <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item active">
                    <a class="nav-link" href="#">Reports <span class="sr-only">(current)</span></a>
                  </li>
              </ul>

              <form class="form-inline my-2 my-lg-0" >
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button type="button" class="btn btn-outline-warning">Search</button>
              </form>
            </div>
          </nav>
        <br><br>
          <div class = "container">
            <h1 class=text-center style="color: #DC8A1B">Messages</h1>
            <br><br>
            <form class = "container-fluid" method="post" action="/addmessages/">
                 {% csrf_token %}
            <div class="form-group">
            <label for="exampleFormControlInput1">Message ID: </label>
            <input type="name" class="form-control" id="name" placeholder="Message ID" name="messageId" oninvalid = "this.setCustomValidity('Invalid Message ID')" onchange = "try{setCustomValidity('')}catch(e){}" pattern = "[Mm][0-9]{4}">
            </div>
            <div class="form-group">
            <label for="exampleFormControlTextarea1">Message: </label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Enter Your message here..." name="message"></textarea>
            </div>
            <button type="submit" class="btn btn-warning">Create</button>
            <button type="button" class="btn btn-danger">Cancel</button>
        </form>

        </div>
          <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
              </body>
          </html>