{% load static %}
<!DOCTYPE html>
<html>
<head>
    <h1>The Ocean Colombo</h1>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>New Employee</title>
<link
 href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
 rel="stylesheet"
 integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
 crossorigin="anonymous">
 <link rel="stylesheet" href="{% static 'css/NewEmployee.css' %}">
</head>
<body>
  <div class="topnav">
    <a class="active" href="#home">Home</a>
    <a href="#about">About</a>
    <a href="#contact">Contact</a>
      <a href="#promotion">Promotion</a>
    <input type="text" placeholder="Search..">
  </div>
 <div class="container col-lg-6">
  <h1 class="text-center">Employee Registration</h1>
  <div class="card">
   <div class="card-body">
    <form method="post" class="form-group" action="/Employee/newEmployee/"
     enctype="multipart/form-data">
    {% csrf_token %}
     <div class="form-group">
      <label>First Name: </label> <input type="text"
       class="form-control" name="firstName" size="50"  />
     </div>
        <div class="form-group">
        <label>Last Name: </label> <input type="text"
         class="form-control" name="lastName" size="50"  />
       </div>
       <div class="form-group">
        <label>NIC: </label> <input type="text"
         class="form-control" name="NIC" size="50" id="NIC" />
       </div>
         <div class="form-group">
      <label>Title: </label> <input type="text"
       class="form-control" name="Title" size="50"  />
     </div>
       <div class="form-group">
        <label>Employment Type: </label> 
       </div>
       <div  class="form-group"><select name="employeeType" class="form-control" size="">
         <option value="Permanent">Permanent</option>
         <option value="Temporary" selected>Temporary</option>
       </select></div>
        <div class="form-group">
        <label>Email: </label> <input type="email"
         class="form-control" name="Email" size="50"  />
       </div>
        <div class="form-group">
            <label>Password: </label> <input type="password"
        class="form-control" name="Password" size="10"  />
        </div>
       <div class="form-group">
        <label>Address: </label> <input type="text"
         class="form-control" name="Address" size="50" />
       </div>
        <div class="form-group">
        <label>Phone: </label> <input type="text"
         class="form-control" name="Phone" size="50" maxlength="10"  />
       </div>
        <div class="form-group">
        <label>EPF: </label> <input type="text"
         class="form-control" name="EPF" size="50"  />
       </div>
        <div class="form-group">
        <label>Emergency Contact: </label> <input type="text"
         class="form-control" name="EmergencyCon" size="50" maxlength="10" />
       </div>

     <input type="submit" value="Submit" class="btn btn-success">
     <button class="btn btn-warning">DEMO</button>
    </form>
   </div>
  </div>
 </div>

</body>
</html>