{% load static %}
<!DOCTYPE html>
<html>
<head>
    <h1>The Ocean Colombo</h1>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/PromoManagement.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <title>Promotion Management</title>
</head>
<body>
  <div class="topnav">
    <a class="active" href="#home">Home</a>
    <a href="#about">About</a>
    <a href="#contact">Contact</a>
      <a href="{% static '../Employee/viewEmployee/'%}">Employee</a>
    <input type="text" placeholder="Search..">
  </div>
  <br>
  <form class="updEmp" action="/Promotion/updateEmp/">
       {% csrf_token %}
      <button class="btn">UPDATE EMPLOYEE</button>
   </form>
      <button class="btn2">Generate Report</button>

      <br><br><br><br>
<form class="srch" action="Promotion/promoManagement/">
  <input type="text" placeholder="Search.." name="search">
  <button type="submit"><i class="fa fa-search"></i></button>
</form>
<h2>Promotion Management</h2>
<br><br>
<table class="table table-hover" >
  <thead>
    <tr>
      <th>EPF</th>
      <th>Employee Name</th>
      <th>Assigned Title</th>
      <th>Employee Type</th>
     </tr>
  </thead>
   <tbody>
      {% for EPF,firstName,Title,employeeType in final_data %}
        <tr>
         <td scope = "row">{{EPF}}</td>
         <td>{{firstName}}</td>
         <td>{{Title}}</td>
         <td>{{employeeType}}</td>
        </tr>
        {% endfor %}
     </tbody>
  
    </table>

</body>
</html>