<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Room Details</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    {% load static %}
</head>
<body>
    <header>
        <div class="container-fluid">
            <img src="{% static 'images/logo.png' %}" width="110px" height="110px" alt="logo" />
        </div>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="../backendHome">Home</a>
                    </li>
                    <li class="nav-item">

                        <a class="nav-link" href="../InsertRoomDetails">Insert Room Details</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../roomDetails">View Room Details</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../HousekeepingReport">Housekeeping Report</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../continuousReport">Continuous Report</a>

                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Sign out</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </nav>
    </header>
    <main>
        <div class="container-fluid">
            <br>
            <h1 class="text-center" style = "color:#DC8A1B">Room Details</h1>
            <br><br>
          
            {% for time, work in comb_list %}
            Room Id : {{time}} &nbsp &nbsp &nbsp{{work}}
            {% endfor %}

            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Room Number</th>
                    <th scope="col">Room Type</th>
                    <th scope="col">Description</th>
                    <th scope="col">Image</th>
                    <th scope="col">Update</th>
                    <th scope = "col"> Delete </th>
                </tr>
                </thead>
                <tbody>
                <tr>

                    <td scope="row"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td> <a href = "#" class = "btn btn-warning" role = "button">Update</a></td>
                    <td><a href = "#" class = "btn btn-warning" role = "button">Delete</a></td>

                </tr>
                </tbody>
            </table>
            <br><br>
            <div class="form-row">
                <div class="col-4">
                    <a onclick="document.location='../InsertRoomDetails'" class="btn btn-warning" role="button" aria-pressed="true">Add Room with Details</a>
                </div>
                <div class="col-4">
                    <a onclick="document.location='../updateRoomDetails'" class="btn btn-secondary" role="button" aria-pressed="true">Back to Room Management</a>
                </div>
            </div>
        </div>
    </main>
</body>
</html>