<!DOCTYPE html>    
<html>    
<head>    
    <title>Search Results</title>
    <style>
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  tr:nth-child(even) {
    background-color: #dddddd;
  }
  </style>    
       
</head>    
<body>
<form method="post" class="form_group" action="/searchresults/">

    <h1>Customer Registration</h1><br>    
    <div class="register">  

    <div class="container">

    <hr>

    <h3>Name</h3></br>
     <h3>NIC</h3></br>
      <h3>Contact Details</h3></br>
       <h3>Email</h3></br>
        <h3>Date of Birth</h3></br>
         <h3>Gender</h3></br>
          <h3></h3></br>
           <h3></h3></br>

<h2>HTML Table</h2>

<table>
  <tr>
    <th>Company</th>
    <th>Contact</th>
  </tr>
  <tr></tr>
  </table>
    </div>
    </div>
</form>
</body>
</html>