{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Room Booking</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aldrich">
    <link rel="stylesheet" href="{% static 'css/roombooking.css' %}">
</head>

<body>
    <form class="form" onsubmit="return checkDates()" action="/roomBooking/confirmBooking/" id="selectRoomForm"
        method="POST">
        {% csrf_token %}</form>
    <div class="container text-uppercase bg-light border-dark">
        <div class="row">
            <div class="col-xl-3 p-1"></div>
            <div class="col-xl-3 p-1"><label class="d-block">Check In</label><input class="min-today" name="checkIn"
                    placeholder="9 Sept 2020" type="date" id="checkIn" form="selectRoomForm" required></div>
            <div class="col-xl-3 p-1"><label class="d-block">Check Out</label><input type="date" form="selectRoomForm"
                    name="checkOut" placeholder="10 Sept 2020" id="checkOut" required></div>
            <div class="col-xl-3 p-1"></div>
            <!-- <div class="col-xl-6 p-2"><label class="d-block">Promo Code</label>
                <div><input type="text"><button class="btn btn-warning btn-sm" type="button">Search</button></div> -->
        </div>
    </div>

    <div class="container bg-light p-2" id="addedRooms">
        <div class="row">
            <div class="col-xl-3 p-2">
                <div class="col d-xl-flex justify-content-xl-center align-items-xl-center">
                    <h5 class="text-warning">ROOM</h5>
                </div>
            </div>
            <div class="col-xl-2 p-2">
                <div class="col d-xl-flex justify-content-xl-center align-items-xl-center">
                    <h5 class="text-warning"></h5>
                </div>
            </div>
            <div class="col-xl-3 p-2">
                <div class="col d-xl-flex justify-content-xl-center align-items-xl-center">
                    <h5 class="text-warning">COST/ROOM</h5>
                </div>
            </div>
            <div class="col-xl-3 p-2">
                <div class="col d-xl-flex justify-content-xl-center align-items-xl-center">
                    <h5 class="text-warning">TOTAL</h5>
                </div>
            </div>
            <div class="col-xl-1 p-2">
                <div class="col d-xl-flex justify-content-xl-center align-items-xl-center ">
                    <button class="btn btn-success btn-sm" id="btnConfirm" form="selectRoomForm" disabled="disabled"
                        style="margin-right: 2rem;">CONFIRM</button>
                </div>
            </div>
        </div>
    </div>

    {% for roomTypeList,roomDescList,roomPriceList in rooms %}
    <div class="container bg-light" style="margin-top: 0.6rem;">
        <div class="row room-row gallery">
            <div class="col-xl-4 p-2 " id="images">
                <img id="room-image1" class="room-images" src="{% static 'images/room1.jpg'%}"
                    style="width: 370px;height: 236px;"><br />
                <img id="room-image" class="room-images" src="{% static 'images/room2.jpg'%}"
                    style="width: auto;height: 88px; margin-top: 0.3rem;margin-left: 0.1rem;">
                <img id="room-image" class="room-images" src="{% static 'images/room2.jpg'%}"
                    style="width: auto;height: 88px; margin-top: 0.3rem;margin-right: 0.1rem;">
                <img id="room-image" class="room-images" src="{% static 'images/room2.jpg'%}"
                    style="width: auto;height: 88px; margin-top: 0.3rem;">
            </div>

            <div class="col-xl-6">
                <h3 id="room-name">{{roomTypeList}}</h3>
                <p id="rooom-des">
                    {{roomDescList}}
                </p>
                <div class="row">
                    <div class="col d-xl-flex justify-content-xl-start align-items-xl-center">
                        <h5 class="text-warning">ROOM</h5>
                    </div>
                    <div class="col d-xl-flex justify-content-xl-center align-items-xl-center">
                        <h5 class="text-warning d-xl-flex">COST/ROOM</h5>
                    </div>
                    <div class="col d-xl-flex justify-content-xl-center align-items-xl-center">
                        <h5 class="text-warning d-xl-flex"></h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col d-xl-flex justify-content-xl-start "><input style="margin-left: 0.3rem;"
                            class="form-control-sm" type="number" placeholder="0" min="0" id="roomQty"></div>
                    <div class="col d-xl-flex justify-content-xl-center ">
                        <p>{{roomPriceList}}</p>
                    </div>
                    <div class="col d-xl-flex align-items-xl-center " style="padding-bottom: 0.9rem;">
                        <button class="btn btn-warning" onclick="addRoom()">ADD</button>
                    </div>
                </div>
            </div>
            <div class="col-xl-2">
                <div class="d-xl-flex justify-content-xl-center">
                    <p>from</p>
                </div>

                <div class="d-xl-flex justify-content-xl-center">
                    <h3 id="roomCost">{{roomPriceList}}</h3>
                </div>
            </div>
        </div>
    </div>

    {% endfor %}

    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/selectRoom.js' %}"></script>



</body>

</html>